
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-index {
    background-color: black;
}

.firstpagebox {
    z-index: 1;
    top: 35vh;
    left: 25vw;
    width: 50vw;
    height: 25vh;
    position: fixed;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: chartreuse;
    box-shadow: 0 4px 15px chartreuse;
    align-content: center;
    background-color: black;
}

.password {
    font-family: monospace;
    color: white;
    margin-left: 25%;
}

#passwordInput {
    font-family: monospace;
    color: chartreuse;
    width: 40%;
    align-content: center;
    background-color: black;
   
}

#loginBtn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: white;
    border-radius: 10px;
    align-content: center;
    color: chartreuse;
    background-color: black;
    -moz-box-shadow: inset 1px 1px 5px #848484;
    -webkit-box-shadow: inset 1px 1px 5px #848484;
   
}

input,
button {
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    align-content: center;

}

.error {
    color: red;
}

.background {
    z-index: -1;
    font-family: monospace;
    font-size: 0.7rem;
    line-height: 1.2;
    color: chartreuse;
    columns: 2;
    column-gap: 5vh;

}

/* create an hover effect where every word is hihglited in white when the mouse passes over it */

.highlight-words {
    user-select: text; /* select just the text */
    -webkit-user-select: text;
    -moz-user-select: text;
}

.highlight-words p {
    margin-bottom: 1em; /* create a space between the paragraphs*/
    word-wrap: break-word; /* return on the next line the words that are too long */
    overflow-wrap: break-word;
    white-space: normal; /* allow the natural wrap of the words */
}


.highlight-words span {
    display: inline; 
    transition: all 0.2s ease;
    cursor: pointer;
}

.highlight-words span:hover {
    background-color: white;
    color: black;
    font-size: 1.3rem;
}

.separator {
    break-inside: avoid;
    display: block;
    width: 100%;
    margin: 1em 0; 
}

.body-main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: sans-serif;
    background-color: black;
    margin-bottom: 200px;
}



.story-form {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    display: flex;
    gap: 10px;
    padding: 10px;
    z-index: 1000;
}


#story-input {
    width: 100%;
    min-height: 70px;
    max-height: 40vh;
    background-color: black;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}


#story-submit {
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid white;
    background: black;
    cursor: pointer;
    color: white;
    z-index: 10000;
    -moz-box-shadow: inset 1px 1px 5px #848484;
    -webkit-box-shadow: inset 1px 1px 5px #848484;
}

#stories-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    padding-bottom: 20vh;
}

.story-item {
    position: absolute;
    max-width: 300px;
    background-color: black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px chartreuse;
    border-left: 5px solid;
    border-color: chartreuse;
    cursor: move;
}

.story-item p {
    line-height: 1.6;
    font-size: 10px;
    color: chartreuse;
    margin: 0;
}


/* Mobile adjustments */
@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
        padding: 10px;
    }

    /* LOGIN */
    #passwordInput {
        font-size: 9px;
        padding: 5px;
        width: 100%;
    }

    #loginBtn {
        font-size: 18px;
        padding: 5px;
        width: 100%;
        margin-top: 5px;
    }

    /* stories area on the page */
    #stories-wrapper {
        position: relative;
        width: 100%;
        height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;
        touch-action: manipulation;
    }

    .story-item {
        max-width: 85vw;
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 8px;
        background: black;
        backdrop-filter: blur(4px);
        word-break: break-word;
        display: block;
    }

    /* stories'input field */
    #story-input {
        width: 100%;
        font-size: 10px;
        padding: 10px;
        border-radius: 12px;
    }

    #story-submit {
        width: 100%;
        font-size: 9px;
        padding: 10px;
        margin-top: 5px;
        border-radius: 12px;
    }
}
